
     <!---------------------------view image----------------------------------->
     <div class="container-fluid mt-2" style="position: relative; width: 100%; height: 400px;">

        <div class="card bg-dark text-white View">
          <img src="/images/background.jpg" class="card-img images" alt="...">
          <div class="card-img-overlay">
          <h5 class="card-title text-right">Card title</h5>
          <p class="card-text text-right">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text text-right">Last updated 3 mins ago</p>
          
         <div class="row justify-content-end">
          <div class="col-sm-6 col-md-4">
            <div class="d-flex justify-content-between align-items-center">
          <div class="button-group">
          
          <a href="#" type="bottun" class="btn btn-outline-info float-right buttonHeader1"> Goo</a>
          <a href="#" type="bottun" class="btn btn-outline-info float-right buttonHeader2"> Back</a>
          
          </div>
            </div>
          </div>
         </div>
        </div>
        </div>
          
      
      </div>
      <!--------------------------------------------------------------------->