<!------------card view foode first page----------------->

<div class="container mt-5">

    <div class="row">
      <div class="col-sm-6 col-md-4">
  
        <div class="card" style="width: 18rem; border: none;">
          <img src="/images/burger.webp" class="card-img-top rounded-circle shadow-sm"  alt="..." style="width:100%px; height:216px;">
          <div class="card-body shadow-sm" style="border: none;">
            <h5 class="card-title">Card title</h5>
            <h5 class="card-title">$20</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------->